/********************
    Section Nav  
*********************/
.header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: black; */
}
.nav-logos {
  display: flex;
  gap: 1.2rem;
}

.company-logos {
  filter: invert(1);
  width: 2.4rem;
  height: 2.4rem;
  filter: brightness();
}

.main-nav {
  padding: 0 3.2rem;
}

.main-nav-list {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  gap: 6.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #bbb;
  font-weight: 600;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #66d9e8;
}

.nav-cta:link,
.nav-cta:visited {
  color: #fff;
  background-color: #22b8cf;
  border-radius: 9px;
  padding: 1.6rem 3.2rem;
  transition: all 0.3s;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #15aabf;
}

/********************
    Section Hero  
*********************/
.section-hero {
  /* background-color: black; */
  /* background-image: linear-gradient(to right, rgb(5, 72, 80), black); */
  color: #fff;
}

.hero-text-box {
  /* padding: 9.6rem; */
  align-self: center;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 3.2rem;
  /* background-image: url("../img/shroad.png");
  background-size: cover; */
  padding: 9.6rem 4.8rem 9.6rem;
}

.little-intro {
  /* padding: 0 1.6rem; */
  line-height: 1.8;
  font-size: 2rem;
  color: #bbb;
  margin-bottom: 3.2rem;
}

/* .hero-img-box {
  background-image: url("../img/shroad.png");
  background-size: cover;
  background-position: center;
  height: 1vh;
} */

.shroad-img {
  width: 120%;
}

/********************
    Section Hero  
*********************/
.section-career {
  padding: 0 9.6rem;
  margin-bottom: 9.6rem;
  color: #fff;
}

.career-born-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9.6rem 25rem;
  gap: 3.2rem;

  text-align: center;
}

/********************
    Section Carrer  
*********************/

.career-born-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #bbb;
}

.career-map {
  height: 60rem;
  background-color: #818994;
  border-radius: 9px;
  box-shadow: 0.5rem 0.5rem 5rem rgba(57, 56, 56, 0.33);
  /* margin-bottom: 9.6rem; */
}

/********************
    Section Carrer-prestudy  
*********************/

.career-prestudy-container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  position: relative;
  /* margin-bottom: 4.8rem; */
}

/* .career-visual-border {
  height: 60rem;
  border-right: 2px solid #444a52;
  position: absolute;

  top: 0;
  left: 20rem;

  transform: translateY(-25%);

  z-index: -1;
} */

.career-prestudy-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  /* gap: 4.8rem; */
  grid-column: 2;
  border-left: 2px solid #444a52;
  height: 50rem;
  padding: 9.6rem;
}

.career-prestudy-family {
  margin-bottom: 4.8rem;
}

.career-shcool-contents {
  height: 90rem;
}

.career-school-college {
  margin-bottom: 4.8rem;
}
.college-text {
  margin-bottom: 2.4rem;
}
.college-links {
  display: flex;
  gap: 3.2rem;
}

.college-link:link,
.college-link:visited {
  text-decoration: none;
  padding: 8rem;
  background-color: #fff;
  border-radius: 9px;
}

.college-link:hover,
.college-link:active {
  background-color: #ccc;
}
/* .career-shead {
  display: flex;
  gap: 4.8rem;
  align-items: center;
} */

.border-decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  stroke: #444a52;
  background-color: #1a1d21;

  /* position: absolute; */
  /* top: 0; */
}

.border-decor1 {
  transform: translate(-50%, 8.5rem);
}

.border-decor2 {
  transform: translate(-50%, 28.5rem);
}

.border-decor3 {
  transform: translate(-50%, 68.5rem);
}

.border-decor-college1 {
  transform: translate(-50%, 38.5rem);
  stroke: #fff;
  background-color: #66d9e8;
  border-radius: 50px;
}

.border-decor-college2 {
  transform: translate(-50%, 48.5rem);
  stroke: #fff;
  background-color: #66d9e8;
  border-radius: 50px;
}

.border-decor-college3 {
  transform: translate(-50%, 58.5rem);
  stroke: #fff;
  background-color: #66d9e8;
  border-radius: 50px;
}

.career-little-photo {
  width: 5rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.career-little-photo1 {
  transform: translate(50%, 8.5rem);
}

.career-little-photo2 {
  transform: translate(50%, 28.5rem);
}

.career-little-photo3 {
  transform: translate(50%, 68.5rem);
}
.career-content {
  padding: 0 9.6rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.career-text {
  color: #bbb;
  font-size: 1.8rem;
  line-height: 1.8;
}

/********************
    Section Carrer-school  
*********************/
.career-school-img img {
  width: 100%;
  border-radius: 9px;
}

/********************
    Section Carrer-future  
*********************/

.career-future-container {
  padding: 9.6rem 25rem;
}

.career-future-head {
  text-align: center;
}

.career-future-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #bbb;
}
/********************
    Section projects
*********************/
.section-projects {
  padding: 0 9.6rem;
  margin-bottom: 9.6rem;
}

.projects-head {
  padding-bottom: 5rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 3.2rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.2rem;
  background-color: #111213;
  border-radius: 9px;
  padding: 1.6rem 3.2rem;
  /* border: 1px solid #1a1d21; */
}

.project-icon {
  width: 4.8rem;
  margin-bottom: 2.4rem;
  stroke: #c92a2a;
}

.project-title {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.project-text {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #ccc;
  letter-spacing: 0.4px;
}

.projects-circle {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.circle {
  width: 12px;
  height: 12px;
  border: 1px solid #15aabf;
  border-radius: 50rem;
  cursor: pointer;
}

.actived-circle {
  background-color: #15aabf;
}

/********************
    Section publications
*********************/

.publications-head {
  /* padding-left: 20rem; */
  padding-bottom: 5rem;
}

.section-publications {
  padding: 0 9.6rem;
  margin-bottom: 9.6rem;
}

.publications-container {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 3.2rem;
}

.publication {
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 1rem rgb(255, 255, 255);
  /* padding: 9.6rem; */
}

.publication-img {
  width: 100%;
}

.publication-text {
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 1.6rem 1.6rem;
}

.publication-journal {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.publication-title {
  font-size: 1.2rem;
  line-height: 1.2;
  font-style: italic;
  text-align: center;
}

.publication-link:link,
.publication-link:visited {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #22b8cf;
  border-bottom: 1px solid #22b8cf;
  padding-bottom: 1px;
  transition: all 0.2s;
}

.publication-link:hover,
.publication-link:active {
  color: #0b7285;
  border-bottom: 1px solid #0b7285;
}

/********************
    Section Life
*********************/
.section-life {
  /* padding-left: 20rem; */
  padding: 0 9.6rem;
  margin-bottom: 9.6rem;
}

.life-head {
  margin-bottom: 6.4rem;
}

.life-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.life-event:link,
.life-event:visited {
  height: 30rem;
  width: 9rem;
  background-color: #15aabf;
  transition: all 0.5s;
}

.life-event:hover,
.life-event:active {
  transform: scale(1.5);
}
